{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/register.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="card p-4">
            <form class="form" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <h1 class="h3 font-weight-normal text-center my-3">Connexion</h1>
                <div class='my-3'>
                    <div class="form-floating mb-3">
                        <input type="email" value="{{ last_username }}" name="email" id="floatingEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="floatingEmail">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="password" id="floatingPassword" class="form-control" autocomplete="current-password" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                </div>
                <div>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <div class='text-center my-3'>
                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </div>
                <div class='text-center my-3'>
                    <span>Vous n'avez pas de compte ?</span>
                    <a href="/register">Inscrivez-vous</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
